
# Video recording parameters, do not change
video.width = 1920
video.height = 1080
video.fps = 25

file.extension = .mp4

# Recording length in seconds
record.time = 180

# Timeout for returning to language screen after idle user (in seconds)
idle.timeout = 360

# Audio recording parameters, do not change
audio.rate = 22050
audio.bits = 16
audio.channels = 1

# Default webcam and mic devices, change at your own risk!
#audio.device.default = ALSA (http://www.alsa-project.org) C615 [plughw:1,0] Direct Audio Device: HD Webcam C615, USB Audio, USB Audio
#video.device.default = HD Webcam C615 /dev/video0
audio.device.default = Unknown Vendor Microphone (HD Webcam C270) Direct Audio Device: DirectSound Capture
video.device.default = Logitech HD Webcam C270 0

# languages installed. The application will search inside the images/<lang> for all the images required, and later save in
# recordings/<lang> the corresponding videos
languages = en,de,es

# time spend on each frame of the blinking light animation. Measured in milliseconds
record.blink.delay = 750